.header
  .name
    .full-name Brian HIRTH
    .position Full Stack & React Native Developer
  .contact
    .website hirthbrian.com
    .phone (929) 305-8345
    .email brianhirth404@gmail.com
    //- .linkedin linkedin.com/in/brianohirth
    .github github.com/hirthbrian

.objective <strong>Objective</strong>: a challenging position where I can apply and grow my knowledge working on innovative projects. Be at the front seat of the constantly evolving field of Computer Science.

.category Professional Experience

.experience-block  
  .experience-header
    .title Full Stack & React Native Developer 
      .location FrenchFounders - New York
    .date May 2016 - Present
  .content Oversaw the maintenance and upgrade of the web platform with Symfony Framework. Added new modules and design upgrades to the company website including a Trip Planner for users. Migrated the company email templates to MJML and taught the marketing team how to use the new framework for their campaign. Maintained the latest iOS app updates. Upgraded to an E2 Visa after one year. Migrated the company app to React Native to simplify the code base. Supervised an intern for the integration of a dynamic map of company events. Currently working as a full time mobile developer adding new features to the Android and iOS FrenchFounders app.

.experience-block  
  .experience-header
    .title .NET Developer, Intership 
      .location Council of Europe - Strasbourg
    .date October 2015 - February 2016
  .content Improved the document parsing software used by the Council of Europe to link files. Integrated Add-On to Microsoft Word and parse document using regular expression.
    
.experience-block  
  .experience-header
    .title Developer, Intership
      .location Broadcasting Center Europe - Luxembourg
    .date March 2014 - August 2014
  .content Worked independently on a Java project creating an easy-to-use video streaming manager for small Web and television. Used HTML/CSS and Javascript/jQuery for the front end and Java with Wowza services for the back end. Worked with Python and PHP for server automations. Became proficient in reverse engineering for existing software.
    
.experience-block  
  .experience-header
    .title Web Developer, Intership 
      .location Council of Europe - Strasbourg
    .date June 2012 - September 2012
  .content Maintained and upgraded the Council of Europe intranet. Introduced to HTML/CSS and Javascript/jQuery. Gained skill in improving an existing code base.

.category Education

.experience-block  
  .experience-header
    .title Master in Computer Science 
      .location Epitech - Strasbourg
    .date 2011 - 2016
  .content Focused on practical cases in a corporate environment. Complied with strict coding standards and tight deadlines. Worked in a project-based learning environment with heavy programming. Engaged in self-taught learning and working in teams. Used revision control software and Unified Modeling Language for every project.
  
.experience-block
  .experience-header
    .title Academic Exchange 
      .location Ahlia University - Bahrain
    .date September 2014 - May 2015
  .content Gained skill in Project Management, Database Management, .Net and Android Development.
  
.category Skills

.experience-block
  .content <strong>Expert</strong> in React Native, Symfony, Javascript, MJML and HTML/CSS. <strong>Proficient</strong> in React, .NET, Java and Swift. <strong>Competent</strong> in Python and Objective-C.<br>Resume written with ReLaXed, Pug and Sass source available here: <a href="https://github.com/hirthbrian/relaxed-resume">github.com/hirthbrian/relaxed-resume</a>

style
  include:sass resume.scss
