@import 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';

html {
  font-family: 'Inter', sans-serif;
  padding: 0.5cm 1cm;
  font-size: 14px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .name {
    .full-name {
      font-size: 34px;
      font-weight: 600;
    }
    .position {
      padding-left: 3px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .contact {
    font-size: 12px;
    text-align: right;
    a {
      text-decoration: none;
      padding-right: 5px;
      color: #354765;
    }
  }

}

.category {
  font-size: 20px;
  padding-bottom: 4px;
  text-align: center;
  padding-top: 15px;
  border-bottom: 1px solid #354765;
}

.experience-block {
  padding-top: 15px;
  .experience-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    .title {
      font-size: 18px;
      font-weight: bold;
      .location {
        font-size: 16px;
        font-weight: 200;
      }
    }
    .date {
      font-size: 16px;
      font-weight: 200;
    }
  }
  .content {
    text-align: justify;
    padding-top: 5;
    color: #354765;
  }
}
