.header
  .name
    .full-name Brian Hirth
    .position Senior React Native Developer
  .contact
    .website <a href='http://hirthbrian.com/'>hirthbrian.com</a> #[i.fa.fa-globe]
    .phone <a href='tel:+33678475228'>+33 6 78 47 52 28</a> #[i.fa.fa-phone]
    .email <a href='mailto:brianhirth404@gmail.com'>brianhirth404@gmail.com</a> #[i.fa.fa-envelope]
    .linkedin <a href='https://www.linkedin.com/in/brianohirth/'>linkedin.com/in/brianohirth</a> #[i.fa.fa-linkedin]
    .github <a href='https://github.com/hirthbrian'>github.com/hirthbrian</a> #[i.fa.fa-github]

//- .objective <strong>Objective</strong>: a challenging position where I can apply and grow my knowledge working on innovative projects. Be at the front seat of the constantly evolving field of Computer Science.

.category #[i.fa.fa-briefcase] Professional Experience

.experience-block  
  .experience-header
    .title Senior React Native Developer 
      .location Perlego - London, UK
    .date January 2019 - Present
  .content Finishing and releasing the first version of the app to the stores. Releasing new features and updates as a team lead for the first year. Refactoring and migrating to new React code standard over the years (styled-component, TypeScript, hooks…). Releasing the ePub and PDF reader and adding user requested features over time. Keeping all the dependencies up to date, upgrading React Native, implementing a 85% test coverage, improving the CI/CD pipeline. Releasing a book ISBN scanner as a personal project for the app. Working on support and fixing user reported issues.

.experience-block  
  .experience-header
    .title Full Stack & React Native Developer 
      .location FrenchFounders - New York
    .date May 2016 - October 2018
  .content Oversaw the maintenance and upgrade of the web platform in Symfony. Added new modules and design upgrades to the company website. Migrated the company email templates to MJML and taught the marketing team how to use the new framework for their campaign. Migrated the company app to React Native to simplify the code base.<br>Supervised an intern for the integration of a dynamic map of company events.

.experience-block  
  .experience-header
    .title .NET Developer, Intership 
      .location Council of Europe - Strasbourg
    .date October 2015 - February 2016
  .content Improved the document parsing software used by the Council of Europe to link files. Integrated Add-On to Microsoft Word and parse document using regular expression.
    
.experience-block  
  .experience-header
    .title Developer, Intership
      .location Broadcasting Center Europe - Luxembourg
    .date March 2014 - August 2014
  .content Worked independently on a Java project creating an easy-to-use video streaming manager for small Web and television. Used HTML/CSS and Javascript/jQuery for the front end and Java with Wowza services for the back end. Worked with Python and PHP for server automations. Became proficient in reverse engineering for existing software.
    
//- .experience-block  
//-   .experience-header
//-     .title Web Developer, Intership 
//-       .location Council of Europe - Strasbourg
//-     .date June 2012 - September 2012
//-   .content Maintained and upgraded the Council of Europe intranet. Introduced to HTML/CSS and Javascript/jQuery. Gained skill in improving an existing code base.

.category #[i.fa.fa-graduation-cap] Education

.experience-block  
  .experience-header
    .title Master in Computer Science 
      .location Epitech - Strasbourg
    .date 2011 - 2016
  .content Focused on practical cases in a corporate environment. Complied with strict coding standards and tight deadlines. Worked in a project-based learning environment with heavy programming. Engaged in self-taught learning and working in teams. Used revision control software and Unified Modeling Language for every project.
  
.experience-block
  .experience-header
    .title Academic Exchange 
      .location Ahlia University - Bahrain
    .date September 2014 - May 2015
  //- .content Gained skill in Project Management, Database Management, .Net and Android Development.
  
.category #[i.fa.fa-code] Skills

.experience-block
  .content <strong>Expert</strong> in React Native, React, Symfony, JavaScript/TypeScript, MJML and HTML/CSS.<br>
           <strong>Proficient</strong> in .NET, Objective-C and Swift.<br>
           <strong>Competent</strong> in Python and Java.<br><br>

style
  include:scss resume.scss
