.header
  .name
    .full-name BRIAN HIRTH
    .position Lead Développeur React Native
  .contact
    .website <a href='http://hirthbrian.com/'>hirthbrian.com</a>
    .phone <a href='tel:+33678475228'>+33 6 78 47 52 28</a>
    .email <a href='mailto:brianhirth404@gmail.com'>brianhirth404@gmail.com</a>
    .linkedin <a href='https://www.linkedin.com/in/brianohirth/'>linkedin.com/in/brianohirth</a>
    .github <a href='https://github.com/hirthbrian'>github.com/hirthbrian</a>

.category #[i.bi.bi-briefcase] Expérience Professionnelle

.experience-block  
  .experience-header
    .title Lead Développeur React Native 
      .location Sportyma - Strasbourg, France
    .date Mai 2023 - Juillet 2025
  .content Modernisation de la stack technologique et des dépendances, mise à niveau de React Native vers la dernière version, et introduction d'une gestion moderne des states avec Zustand afin d'améliorer la maintenabilité et l'évolutivité. Conception et mise en œuvre d'un cadre de test complet de E2E à l'aide de Detox, couvrant les parcours utilisateurs critiques tels que l'authentification, la gestion des événements et les fonctionnalités sociales. Intégration transparente avec les pipelines CI/CD à l'aide de Bitrise et Bitbucket Pipelines pour une livraison continue et une fiabilité optimale.
  .content Création des fonctionnalités avancées, notamment la messagerie en temps réel, la gestion dynamique du calendrier et de l'agenda, la gestion des médias (capture et traitement d'images/vidéos), les notifications push et de riches fonctionnalités du réseau social.
  .content Amélioration des performances de l'application grâce à des techniques telles que le fractionnement stratégique du code, le chargement différé et la gestion optimisée de l'état/des données à l'aide de React Query, memo, useCallback et un modèle de référentiel personnalisé.
  .content A dirigé une modernisation majeure du code source, en refactorisant une architecture legacy v2 pour obtenir une structure v3 propre et modulaire, en appliquant les principes de la conception atomique afin d'améliorer l'expérience des développeurs et la réutilisabilité du code.

.experience-block  
  .experience-header
    .title Lead Développeur React Native 
      .location Perlego - London, UK
    .date Janvier 2019 - Mars 2023
  .content A dirigé le lancement de la première version de l'application sur les Stores, puis a passé un an à diriger l'équipe chargée de la publication de nouvelles fonctionnalités et mises à jour.
  .content Au fil du temps, refactorisation et migration du code vers les normes React modernes, notamment styled-components, TypeScript et hooks.
  .content A joué un rôle clé dans la sortie du lecteur ePub et PDF, en améliorant continuellement les fonctionnalités demandées par les utilisateurs.
  .content Assuré la fiabilité de l'application en maintenant à jour les dépendances, en mettant à niveau React Native, en atteignant une couverture de test de 85 % et en optimisant le pipeline CI/CD.
  .content Développement et lancement en toute autonomie d'une fonctionnalité de scanner d'ISBN pour l'application. De plus, assistance aux utilisateurs et résolution des problèmes signalés afin d'améliorer l'expérience utilisateur. J'ai déménagé au Canada tout en continuant à travailler à distance pour Perlego, où je me suis concentré sur l'amélioration des fonctionnalités du lecteur PDF pour leur application mobile.

.experience-block  
  .experience-header
    .title Full Stack & Développeur React Native 
      .location FrenchFounders - New York
    .date Mai 2016 - Octobre 2018
  .content Gestion de la maintenance et de l'amélioration de la plateforme web de l'entreprise développée sous Symfony, introduction de nouveaux modules et mises à jour de conception afin d'améliorer les fonctionnalités et l'expérience utilisateur. Migration des modèles d'e-mails vers MJML, formation de l'équipe marketing à l'utilisation du framework pour des campagnes plus efficaces.
  .content A contribué au développement de l'application iOS en Objective-C avant de faire passer l'application de l'entreprise à React Native, simplifiant ainsi le code source pour une meilleure efficacité.
  //- .content J'ai supervisé un stagiaire dans le développement d'une carte dynamique des événements pour l'entreprise. J'ai consacré la dernière année et demie à travailler à temps plein en tant que développeur React Native, afin de faire progresser l'innovation dans le domaine des applications mobiles.

.category #[i.bi.bi-book] Éducation

.experience-block  
  .experience-header
    .title Master en Informatique 
      .location Epitech - Strasbourg
    .date 2011 - 2016
  .content Axée sur des cas pratiques en milieu d'entreprise. Respect des normes de codage strictes et des délais rigoureux. Travail dans un environnement d'apprentissage par projet avec une forte composante de programmation. Apprentissage autodidacte et travail en équipe. Utilisation d'un logiciel de contrôle de révision et du langage de modélisation unifié pour chaque projet.
  
style
  include:scss resume.scss

